<table cellpadding="0" border="0">
<tr>
	<td>
		<b>Calculs</b>
	</td>
</tr>
<tr>
	<td height='10'>
	</td>
</tr>
<tr>
	<td>
		<p>Cette application, r&eacute;alis&eacute;e en PHP, permet d'effectuer des calculs de b&acirc;timent, du poteau &agrave; la semelle de fondation. Pour apporter des remarques ou des contributions, veuilez visiter le site GITHUB : <a href="https://github.com/lebdenat/calculs-ferraillage">https://github.com/lebdenat/calculs-ferraillage</a></p>
	</td>
</tr>
<tr>
	<td height='10'>
	</td>
</tr>
<tr>
	<td>
		{&LiensCalculs;()}
	</td>
</tr>
</table>