<html>
<head>
<title>{Titre}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="keywords" value="{mots_cles}" />
<meta name="Description" value="{mots_cles} : {titre_calcul}" />
<link href="templates/automne/Styles.css" rel="stylesheet" type="text/css">

</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">


<table id="main" border="0" cellpadding="0" cellspacing="0" width="1000">


<!-- ####################################################
                    Entete 
#################################################### -->

	<tr width="100%"  height="101">
	<!-- Entete de bois -->
	<td valign="middle" colspan="2" background="templates/automne/images/entete_bois_ombre_contour.gif" width="818" align="center">
	<a href="index.php"><img src="templates/automne/images/titre.gif" border=0 /></a>
    
  </td> 
  <!-- Fin Entete de bois -->
	
  
	<!-- Entete Droite : Crochet -->
	<td width="34" valign="top" align="left" background="templates/automne/images/tpl_default_build_02.gif" >&nbsp;
	   
  </td>
  <!-- Fin Entete Droite : Crochet -->
    
	<!-- Entete Droite : Crochet -->
	<td width="147" valign="top" align="left" background="templates/automne/images/crochet_haut_bois.gif" height="101" style="background-repeat:no-repeat" >&nbsp;
    
  </td>
  <!-- Fin Entete Droite : Crochet -->
  
		<td width="1" valign="top" height="21">      
    </td>
  

	</tr>
	

<!-- ####################################################
                    Fin Entete 
#################################################### -->	


<!-- ################################################### -->
	

<!-- ####################################################
                    Contenu 
#################################################### -->	
	<tr height="21">
		<td width="818" height="21" colspan="2" valign="top" background="templates/automne/images/tpl_default_build_04.gif">		  
		<!-- &nbsp; -->      
    </td>
		<td width="34" valign="top" background="templates/automne/images/contenu_central_crochet_Hau.gif">&nbsp;
		
    </td>    
		<td width="147" valign="top" height="490" rowspan="2" background="templates/automne/images/pied_tige_ver.gif"> 
		<img src="templates/automne/images/bas_ecran_contenu_central.gif">
      
    </td>
		<td width="1" valign="top" height="21">      
    </td>
	</tr>  
	
<!-- Contenu -->

	
	<tr height="21">
	  <td valign="top" colspan="2" rowspan="2" background="templates/automne/images/bg_contenu.gif" rowspan="1"> 
	  
	  
	  <!-- Contenu central -->
	    <table width="95%"  border="0" align="center" cellpadding="4" cellspacing="0">
          <tr>
            <td align="center">{Donnees}</td>
          </tr>
        </table>
		
	  <!-- Fin Contenu central -->
	  
	  </td>
	  <td valign="top" width="34"  background="templates/automne/images/contenu_central_contour_ver.gif" rowspan="2">&nbsp;
    </td>

		<td width="1" valign="top" height="469">      
    </td>
  </tr>
  

<!-- Fin Contenu -->


<!-- Ligne contenu 2 -->
	<tr>
		<td width="147" valign="top" height="35" background="templates/automne/images/pied_tige_ver.gif">&nbsp;
      
    </td>
		<td width="1" valign="top">
      
	  </td>
  </tr>
<!-- Fin Ligne contenu 2 -->

<!-- Ligne contenu 3 -->
  
  
  <tr height="21">
	
		<td width="818" height="26" colspan="2" valign="top" background="templates/automne/images/contenu_central_contour_hor.gif">&nbsp;
      
    </td>
		<td width="36" valign="top" background="templates/automne/images/contenu_central_crochet_Bas.gif">&nbsp;
      
    </td>
		<td width="*" height="30" valign="top" background="templates/automne/images/pied_tige_ver.gif">&nbsp;
      
    </td>
		<td width="1" valign="top" height="2">
      
    </td>
	</tr>  
<!-- Fin Ligne contenu 3 -->


<!-- Pied -->
	<tr height="53" width="100%">
	<td background="templates/automne/images/pied_bois_gauche.gif" align="center" width="522" height="53" style="background-repeat:no-repeat">
	<a href="index.php" class="std">Accueil</a>
	</td>
		<td colspan="2" background="templates/automne/images/pied_tige_hor_big.gif" width="332" height="53">&nbsp;</td>
		<td background="templates/automne/images/pied_raccord_BasDroite.gif" width="147" style="background-repeat:no-repeat">&nbsp;</td>
		<td width="1" valign="top">
      
    </td>
	</tr>
<!-- Fin Pied -->  


<!-- ####################################################
                    Fin Contenu 
#################################################### -->	


<!-- ligne template -->
	
	<tr height="1">
		<td width="522" valign="top" height="1">&nbsp;
		      
    </td>
		<td width="296" valign="top" height="1">&nbsp;
		      
    </td>
		<td width="34" valign="top" height="1">&nbsp;
		
    </td>    
		<td width="147" valign="top" height="1">
      
    </td>
		<td width="1" valign="top" height="1">
      
    </td>
	</tr> 
	
<!-- Fin ligne template --> 

  
  
</table>
<!-- Fin Entete -->


</body>
</html>
